// Colors by Name
$buttercup : #f2bb13;
$black : black;
$mamey : #f2a516;
$tundora : #4A4A4A;
$cafe-royal : #79360c; 
$grey : #7F7F7F;
$tumbleweed : #D9A384;
$fruit-salad : #4ba658;

// Color by function
$color-body-bg: $buttercup;
$color-link : $black;
$color-intro-bg : $buttercup;
$color-contact-bg : $mamey;
$color-title-text : $tundora;
$color-section-p : $cafe-royal;
$color-link2 : $grey;
$color-footer-text : $tumbleweed;
$color-sname-text : $black;
$color-header-bg : $buttercup;
$color-bottom-nav-li-bg : $buttercup;
$color-section-media : $tumbleweed;
$color-nav-li-text : $tundora;
$color-nav-li-bg :  $fruit-salad;
$color-section-bg : $tumbleweed;

// border-radius
$br : 5px;

//wrapper width
$wrapper-width: 100%;